backend/database/containers/e-commerce-3d-firebase-adminsdk-qpzhi-7bb8f806a8.json
backend/database/containers/firebaseCredentials.js
backend/yarn.lock
e-commerce-3d-firebase-adminsdk-qpzhi-7bb8f806a8.json
firebaseCredentials.js
package-lock.json
backend/bfg.jar
.env